<!-- 202035107 권희진 -->

<div class="container">
	<script>
		function displayFileName() {
			var fileName = $("#file").val();
			// alert(fileName);
			$(".upload-name").val(fileName);
		}
	</script>
	<%- list%>
</div>